@using Portal.UI_MVC_Web.Resources
@model CourseViewModel

@{
    ViewData["Title"] = $"{Context.Request.RouteValues["controller"]} Details";
}

<div class="mb-2">
    <div class="d-flex flex-column">
        @Html.Label(@Objects.Name)
        @Html.TextBoxFor(m => m.Name, new { @readonly = true })
    </div>
    <div class="d-flex flex-column">
        @Html.Label(@Objects.Description)
        @Html.TextAreaFor(m => m.Description, new { @readonly = true })
    </div>
    <h2 class="text-center">@Headings.Articles</h2>
    <h3 class="text-center">@Headings.DataTable</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Objects.Title</th>
                <th scope="col">@Objects.Url</th>
                <th scope="col">@Objects.Published</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Articles.Count(); ++i)
            {
                <tr>
                    <th scope="row">
                        @Model.Books[i].Title
                    </th>
                    <td>
                        @Model.Books[i].PageCount
                    </td>
                    <td>
                        @Model.Articles[i].Published.Date.ToShortDateString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Articles.Any() is false)
    {
        <h3 class="text-center">@Headings.NoData</h3>
    }
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <h2 class="text-center">@Headings.Books</h2>
    <h3 class="text-center">@Headings.DataTable</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Objects.Title</th>
                <th scope="col">@Objects.PageCount</th>
                <th scope="col">@Objects.Author</th>
                <th scope="col">@Objects.Published</th>
                <th scope="col">@Objects.Format</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Books.Count(); ++i)
            {
                <tr>
                    <th scope="row">
                        @Model.Books[i].Title
                    </th>
                    <td>
                        @Model.Books[i].PageCount
                    </td>
                    <td>
                        @Model.Books[i].Authors.First()
                    </td>
                    <td>
                        @Model.Books[i].Published.ToShortDateString()
                    </td>
                    <td>
                        @Model.Books[i].Format
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Books.Any() is false)
    {
        <h3 class="text-center">@Headings.NoData</h3>
    }
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <h2 class="text-center">@Headings.Videos</h2>
    <h3 class="text-center">@Headings.DataTable</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Objects.Title</th>
                <th scope="col">@Objects.Duration</th>
                <th scope="col">@Objects.Quality</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Videos.Count(); ++i)
            {
                <tr>
                    <th scope="row">
                        @Model.Videos[i].Title
                    </th>
                    <td>
                        @Model.Videos[i].Duration.ToString()
                    </td>
                    <td>
                        @Model.Videos[i].Quality
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Videos.Any() is false)
    {
        <h3 class="text-center">@Headings.NoData</h3>
    }
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <div class="border-top my-3"></div>
    <h2 class="text-center">@Headings.Perks</h2>
    <h3 class="text-center">@Headings.DataTable</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Objects.Name</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Perks.Count(); ++i)
            {
                <tr>
                    <th scope="row">
                        @Model.Perks[i].Name
                    </th>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Perks.Any() is false)
    {
        <h3 class="text-center">@Headings.NoData</h3>
    }
</div>