@model ICollection<PerkLevelDTO>

@{
    ViewData["Title"] = @Profile.ProfilePerks;
}

<h1 class="text-center">@Profile.ProfileMaterials</h1>
<table class="table table-hover" id="book-table">
    <thead>
        <tr>
            <th scope="col">@Objects.Name</th>
            <th scope="col">@Objects.Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var perk in Model)
        {
            <tr>
                <th scope="row">
                    @perk.Perk.Name
                </th>
                <th scope="row">
                    @perk.Level
                </th>
            </tr>
        }
    </tbody>
</table>  
@if (Model.Any() is false)
{
    <h3 class="text-center">@Headings.NoData</h3>
}