@using Portal.UI_MVC_Web.Resources

@model VideoDTO

@{
    if (Model.Id.Equals(default))
    {
        ViewData["Title"] = $"Add {Context.Request.RouteValues["controller"]}";
    }
    else
    {
        ViewData["Title"] = $"Edit {Context.Request.RouteValues["controller"]}";
    }
}

@using(Html.BeginForm("AddOrEdit", "Video", FormMethod.Post))
{
    <div class="mb-2">
        <div class="d-flex flex-column">
            @Html.Label(@Materials.Title)
            @Html.TextBoxFor(m => m.Title)
        </div>
        <div class="d-flex flex-column">
            @Html.Label(@Materials.Duration)
            <input asp-for="Duration" id="timepicker" type="text">
        </div>
        <div class="d-flex flex-column">
            @Html.Label(@Materials.Quality + ", pixels")
            @Html.TextBoxFor(m => m.Quality)
        </div>
    </div>
    <input asp-for="Id" type="hidden"/>
    <input class="btn btn-primary" type="submit" value="@Actions.Submit">
}