@using Portal.UI_MVC_Web.Resources

@model ArticleIndexModel

<table class="table table-hover" id="article-table">
    <thead>
        <tr>
            <th scope="col">@Materials.Title</th>
            <th scope="col">@Materials.Url</th>
            <th scope="col">@Materials.Published</th>
            <th scope="col"/>
            <th scope="col"/>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.ArticleList)
        {
            <tr>
                <th scope="row">
                    @article.Title
                </th>
                <td>
                    @article.Url
                </td>
                <td>
                    @article.Published
                </td>
                <td class="d-flex flex-row-reverse">
                    <a asp-controller="Article" asp-action="AddOrEdit" asp-route-id="@article.Id" class="btn btn-secondary">
                        @Actions.Edit
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" url="@Url.Action("Delete", "Article")" data_id="@article.Id">
                        @Actions.Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>