@using Portal.UI_MVC_Web.Resources

@model BookIndexModel

<table class="table table-hover" id="article-table">
    <thead>
        <tr>
            <th scope="col">@Materials.Title</th>
            <th scope="col">@Materials.Author</th>
            <th scope="col">@Materials.Published</th>
            <th scope="col">@Materials.Format</th>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
            <th scope="col" />
            <th scope="col" />
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <th scope="row">
                    @book.Title
                </th>
                <td>
                    @book.Authors.First()
                </td>
                <td>
                    @book.Published.Date
                </td>
                <td>
                    @book.Format
                </td>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                <td class="d-flex flex-row-reverse">
                    <a asp-controller="Book" asp-action="AddOrEdit" asp-route-id="@book.Id" class="btn btn-secondary">
                        @Actions.Edit
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" url="@Url.Action("Delete", "Book")" data_id="@book.Id">
                        @Actions.Delete
                    </a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>  
@if (Model.Books.Any() is false)
{
    <h3 class="text-center">@Headings.NoData</h3>
}