@using Portal.UI_MVC_Web.Resources

@model BookDTO

@{
    if (Model.Id.Equals(default))
    {
        ViewData["Title"] = $"Add {Context.Request.RouteValues["controller"]}";
    }
    else
    {
        ViewData["Title"] = $"Edit {Context.Request.RouteValues["controller"]}";
    }
}

@using(Html.BeginForm("AddOrEdit", "Book", FormMethod.Post))
{
    if (Model.Authors == null)
    {
        Model.Authors = new List<string>();
        Model.Authors.Add("");
    }

    <div class="mb-2">
        <div class="d-flex flex-column">
            @Html.Label(@Objects.Title)
            @Html.TextBoxFor(m => m.Title)
        </div>
        <div class="d-flex flex-column">
            @Html.Label(@Objects.PageCount)
            @Html.TextBoxFor(m => m.PageCount)
        </div>
        <div class="d-flex flex-column">
            @Html.Label(@Objects.Author)
            @Html.TextBoxFor(m => m.Authors[0])
        </div>
        <div class="d-flex flex-column">
            @Html.Label(@Objects.Published)
            <input asp-for="Published" type="date">
        </div>
        <div class="d-flex flex-column">
            @Html.Label(@Objects.Format)
            @Html.TextBoxFor(m => m.Format)
        </div>
    </div>
    <input asp-for="Id" type="hidden"/>
    <input class="btn btn-primary" type="submit" value="@Actions.Submit">
}