@using Portal.UI_MVC_Web.Resources

@model PerkIndexModel

<table class="table table-hover" id="perk-table">
    <thead>
        <tr>
            <th scope="col">@Objects.Name</th>
            <th scope="col" />
            <th scope="col" />
        </tr>
    </thead>
    <tbody>
        @foreach (var perk in Model.Perks)
        {
            <tr>
                <th scope="row">
                    @perk.Name
                </th>
                <td class="d-flex flex-row-reverse">
                    <a asp-controller="Perk" asp-action="AddOrEdit" asp-route-id="@perk.Id" class="btn btn-secondary">
                        @Actions.Edit
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" url="@Url.Action("Delete", "Perk")" data_id="@perk.Id">
                        @Actions.Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>  
@if (Model.Perks.Any() is false)
{
    <h3 class="text-center">@Headings.NoData</h3>
}