@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<a asp-action="Register" asp-controller="Auth" class="btn btn-secondary">@Actions.Register</a>

@using(Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <div class="mb-2">
        <div class="d-flex flex-column">
            @Html.Label(@Profile.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="d-flex flex-column">
            @Html.Label(@Profile.Password)
            @Html.TextBoxFor(m => m.Password)
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="@Actions.Login">
}